@import url("https://fonts.googleapis.com/css?family=Tajawal");
html,
body {
    margin: 0;
    font-family: "Tajawal", sans-serif;
    background-color: #605858;
}

img {
    width: 100%;
}

.picture {
    width: 100%;
    
}

header{
    padding: 1em;
   background-color: #241D1B;
}









.event {
   
   
    padding: 1em;
    margin: 0.5em;
    background-color: white;
}

#singleEvent {
   
    padding: 1.5em;
    
    background-color: white;
}

#eventlist {
    display: grid;
    grid-template-columns: 1fr;
}

#singleEvent {
    transition: all 0.3s;
    transform: translateX(-100vw)
}

#singleEvent.slideInEvent {
    transform: translateX(0)
}

@media (min-width: 1000px) {
    #eventlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1300px) {
    #eventlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* STYLING THE CONTENT*/

footer {
    padding: 1.2em;
   background-color: #241D1B;
 
}

footer img 
{
   
   width: 8em;
    height: 5, 5em;
    display:inline-block;
}

h1 {
    text-align: center;
  top:inherit;
    font-size: 1.4em;
}

.date {
    text-align: left;
    font-size: 1.5em;
}

.time {
    text-align: left;
    font-size: 1.2em;
    color: #7A7675;
    font-weight: bold;
}

.location {
    text-align: left;
    font-size: 1.3em;
}

.price {
    text-align: left;
    font-size: 1.3em;
    color: #750000;
}

/*menu*/

/*    navgiation    */

nav ul li a {
    display: inline-block;
    outline: none;
    color: #1f2227;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #808080;
    text-decoration: none;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #241D1B;
    opacity: 0;
    transition: all 0.2s ease;

}

.nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
}

.nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
}

.nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
}

.nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
}

.nav-container ul li:not(:first-child) {
    margin-left: 0;
}

.nav-container ul li a {
    padding: 10px 45px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
}

.nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    /* border-radius: 50%;*/
    background: #241D1B;
    margin-top: 0.7em
}



.nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #cbcbcb;
    /*color of burger menu*/
    border-radius: 2px;
    margin-left: 14px;
}

.nav-open i:nth-child(1) {
    margin-top: 16px;
}

.nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-open i:nth-child(3) {
    margin-top: 4px;
}


#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #cbcbcb;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}




.readmore {
    text-align: center;
    font-size: 1.2em;
    text-decoration-line: none;
    color: #fff;
     background-color: #750000;
    border: 1px solid;
    padding: 3px 12px;
}

.readmore:hover {
    background-color: #931C1C;
    color: #fff;
}







.logo {
    width: 8em;
    height: 5, 5em;
    display: inline;
    
}

.menuicon{
    width: 2em;
    display: inline-block;;
}


.description {
    text-align: left;
}


