@import url("https://fonts.googleapis.com/css?family=Tajawal");
html,
body {
    margin: 0;
    font-family: "Tajawal", sans-serif;
    background-color: #605858;
}

img {
    width: 100%;
}

.picture {
    width: 100%;
}

header{
    padding: 1em;
   background-color: #241D1B;
}




.event {
   
   
    padding: 1em;
    margin: 0.5em;
    background-color: white;
}

#singleEvent {
   
    padding: 1.5em;
    
    background-color: white;
}

#eventlist {
    display: grid;
    grid-template-columns: 1fr;
}

#singleEvent {
    transition: all 0.3s;
    transform: translateX(-100vw)
}

#singleEvent.slideInEvent {
    transform: translateX(0)
}

@media (min-width: 1000px) {
    #eventlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1300px) {
    #eventlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* STYLING THE CONTENT*/

footer {
    padding: 1.2em;
   background-color: #241D1B;
 
}

footer img 
{
   
   width: 8em;
    height: 5, 5em;
    display:inline-block;
}

h1 {
    text-align: center;
  top:inherit;
    font-size: 1.4em;
}

.date {
    text-align: left;
    font-size: 1.5em;
}

.time {
    text-align: left;
    font-size: 1.2em;
    color: #7A7675;
    font-weight: bold;
}

.location {
    text-align: left;
    font-size: 1.3em;
}

.price {
    text-align: left;
    font-size: 1.3em;
    color: #750000;
}

/*menu*/

.menu 
{
    text-decoration: none;
    display: inline;
 
}










.readmore {
    text-align: center;
    font-size: 1.2em;
    text-decoration-line: none;
    color: #fff;
     background-color: #750000;
    border: 1px solid;
    padding: 3px 12px;
}

.readmore:hover {
    background-color: #931C1C;
    color: #fff;
}

.logo {
    width: 8em;
    height: 5, 5em;
    display: inline;
    right:20%;
}

.menuicon{
    width: 2em;
    display: inline-block;;
}


.description {
    text-align: left;
}


